/* --- COLORS --- */
/* --- FONT --- */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* --- ICONS ---- */
.material-symbols-outlined {
  transform: scale(3.5);
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

/* --- MIXINS --- */
body {
  width: 1080px;
  height: 1920px;
  background-image: url("../assets/index-bkg.svg");
  background-size: contain;
  background-repeat: no-repeat;
  font-family: "Work Sans", sans-serif;
  border: 2px solid black;
}

.container {
  border: 2px solid #ff721f;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  font-family: "Work Sans", sans-serif;
}

.portrait {
  width: 1080px;
  height: 1920px;
  border: 2px solid #103ce9;
}

/* --- BUTTONS --- */
.circle-button, .large-circle-button {
  width: 145px;
  aspect-ratio: 1/1;
  border-radius: 200px;
  background-color: #ff721f;
  outline: none;
  border: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.camera-button {
  width: 220px;
  aspect-ratio: 1/1;
  border-radius: 200px;
  border: 10px solid #ff721f;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.camera-button .circle-button, .camera-button .large-circle-button {
  width: 180px;
  aspect-ratio: 1/1;
  border-radius: 200px;
  background-color: white;
}

.inverse-button {
  width: 228px;
  aspect-ratio: 1/1;
  border-radius: 200px;
  background-color: white;
  outline: none;
  border: none;
  color: #ff721f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.large-circle-button {
  width: 170px;
  aspect-ratio: 1/1;
  border-radius: 200px;
}

/* --- SELECT --- */
.select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 48px;
}

.select-button {
  z-index: 2;
  width: 500px;
  height: 130px;
  background-color: #ff721f;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select-button p:not(.selected) {
  display: none;
}

.select-dropdown {
  width: 500px;
  height: 0;
  background-color: white;
  color: black;
  padding: 0px 40px;
  padding-top: 20px;
  position: relative;
  top: -40px;
  border-radius: 30px;
}

.select-dropdown p {
  display: none;
  padding: 10px 0;
  margin: 20px 0;
}

.select-dropdown p:not(:last-child) {
  border-bottom: 1px solid black;
}

.select-dropdown .selected {
  display: none;
}

/* --- PAGINATION --- */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.pagination .stream {
  width: 469px;
  height: 120px;
  border: 3px solid #414141;
  padding: 0;
  border-radius: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination .circle-button, .pagination .large-circle-button {
  z-index: 2;
  font-weight: 600;
  font-size: 60px;
}

.pagination .circle-button:not(.selected), .pagination .large-circle-button:not(.selected) {
  background-color: transparent;
  color: #414141;
}

/* --- DIV ONLY CORNER BORDER */
.corner-border {
  background-image: url("./round-corner.svg");
  background-size: contain;
  width: 850px;
  height: 850px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.corner-border .element-display {
  background-color: #081e75;
  width: 695px;
  height: 695px;
  border-radius: 30px;
}

/* --- WEBCAM --- */
.camera {
  z-index: 1;
  width: 1080px;
  height: 1920px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid black;
}

.camera video {
  z-index: 1;
  width: 1080px;
  height: 1920px;
  -o-object-fit: cover;
  object-fit: cover;
}

.camera .display {
  position: fixed;
  z-index: 10;
  display: contents;
}

.camera .display p {
  width: 442px;
  text-align: center;
  z-index: 11;
  font-weight: 500;
  font-size: 48px;
  color: white;
  position: fixed;
  top: 100px;
}

.camera .display .corner-border {
  position: fixed;
  z-index: 11;
  width: 700px;
  height: 700px;
  top: 400px;
}

.camera .display .button-container {
  z-index: 11;
  position: fixed;
  top: 1500px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

/* sass --watch idea/style:idea/ */
/*# sourceMappingURL=main.css.map */

/*# sourceMappingURL=main.css.map */
