@use "base" as *;

/* --- BASE ELEMENTS --- */

h1,p {
    margin: 0;
    padding: 0;
}

h1{
    @include large-font();
}

p{
    @include normal-font();
}

input[type=text]{
    width: 300px;
    border: none;
    background-color: transparent;
    @include font-dimension(400,48px);
    color: $dark-gray;
    text-overflow: ellipsis;
}

input[type=text]:focus{
    outline: none;
    border: none;
}

fieldset{
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    gap: 30px;

    legend{
        color: $dark-gray;
        text-align: left;
        @include font-dimension(600,48px);
        margin-bottom: 30px;
    }

    p{
        @include font-dimension(400,48px);
        width: 300px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .material-symbols-outlined{
        transform: scale(2);
        font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
    }
}


/* --- BUTTONS --- */

.circle-button {
    @include circle(145px);
    @include base-button($orange, white);
}

.camera-button {
    @include circle(220px);
    border: 10px solid $orange;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;

    .circle-button {
        @include circle(180px);
        background-color: white;
    }
}

.inverse-button {
    @include circle(228px);
    @include base-button(white, $orange);
}

.large-circle-button {
    @extend .circle-button;
    @include circle(170px);

    span {
        position: relative;
        transform: scale(6);
    }
}

/* --- SELECT --- */
.select {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
    @include font-dimension(600, 48px);

    .select-button {
        z-index: 2;
        width: 500px;
        height: 130px;
        background-color: $orange;
        color: white;
        border: none;
        border-radius: 30px;
        padding: 0 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        p:not(.selected) {
            display: none;
        }
    }

    .select-dropdown {
        width: 500px;
        height: 0;
        background-color: white;
        color: black;
        padding: 0px 40px;
        padding-top: 20px;
        position: relative;
        top: -40px;
        border-radius: 30px;

        p {
            width: 460px;
            display: none;
            padding: 10px 0;
            margin: 20px 0;
        }

        p:not(:last-child) {
            border-bottom: 1px solid black;
        }

        .selected {
            display: none;
        }
    }
}

/* --- PAGINATION --- */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

    .stream {
        width: 469px;
        height: 120px;
        border: 3px solid $dark-gray;
        padding: 0;
        border-radius: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .circle-button {
        z-index: 2;
        @include font-dimension(600, 60px);
    }
    .circle-button:not(.selected) {
        background-color: transparent;
        color: $dark-gray;
    }
}

/* --- DIV ONLY CORNER BORDER */
.corner-border {
    @include corner-border();
    width: 850px;
    height: 850px;
    display: flex;
    justify-content: center;
    align-items: center;

    .element-display {
        background-color: $dark-blue;
        width: 695px;
        height: 695px;
        border-radius: 30px;
    }

    .square-element{
        width: 655px;
        aspect-ratio: 1/1;
        border-radius: 50px;
        background-image: url('../assets/page-1-bkg.svg');
    }
}

.corner-border-black{
    @extend .corner-border;
    @include corner-border-black();
}

/* --- WEBCAM --- */
.camera {
    z-index: 1;
    width: 1080px;
    height: 1920px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;

    video {
        z-index: 1;
        width: 1080px;
        height: 1920px;
        object-fit: cover;
    }

    .display {
        position: fixed;
        z-index: 10;
        display: contents;

        p {
            width: 442px;
            text-align: center;
            z-index: 11;
            @include normal-font();
            color: white;
            position: fixed;
            top: 100px;
        }

        .corner-border {
            position: fixed;
            z-index: 11;
            width: 700px;
            height: 700px;
            top: 400px;
        }

        .button-container {
            z-index: 11;
            position: fixed;
            top: 1500px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 70px;
        }
    }
}

/* --- LIST --- */
.list{
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

    .list-element{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;

        .circle-div{
            @include circle(90px);
            border: 3px solid $dark-gray;
            display: flex;
            justify-content: center;
            align-items: center;

            p{
                color: $orange;
                @include font-dimension(600,55px);
                padding:0;
                margin: 0;
            }
        }

        .text{
            @include font-dimension(500,50px)
        }
    }
}

/* --- CARD --- */
.card{
    width: 920px;
    height: 600px;
    
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 30px;
    
    .text{
        margin-top: 60px;
        margin-left: 60px;

        .title{
            @include font-dimension(600,65px)
        }
        .desc{
            width: 600px;
            margin-top: 20px;
            @include small-font()
        }
    }

    button{
        background: transparent;
        border: none;
        color: white;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 80px;
        margin-right: 70px;
        transform: scale(2);
    }
}

.blue-card{
    @extend .card;
    background-image: url('../assets/card-blue-bkg.svg');
}

.orange-card{
    @extend .card;
    background-image: url('../assets/card-orange-2-bkg.svg');
    z-index: 40;

}

/* --- MODAL --- */
.modal{
    width: 1080px;
    height: 1920px;
    position: fixed;
    z-index: 20;
    background-color: $dark-gray-trasparent;
}