@use "base" as *;

/* --- BASE ELEMENTS --- */

h1 {
    margin: 0;
    padding: 0;
}

/* --- BUTTONS --- */

.circle-button {
    @include circle(145px);
    @include base-button($orange, white);
}

.camera-button {
    @include circle(220px);
    border: 10px solid $orange;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;

    .circle-button {
        @include circle(180px);
        background-color: white;
    }
}

.inverse-button {
    @include circle(228px);
    @include base-button(white, $orange);
}

.large-circle-button {
    @extend .circle-button;
    @include circle(170px);

    span {
        position: relative;
        transform: scale(6);
    }
}

/* --- SELECT --- */
.select {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
    @include font-dimension(600, 48px);

    .select-button {
        z-index: 2;
        width: 500px;
        height: 130px;
        background-color: $orange;
        color: white;
        border: none;
        border-radius: 30px;
        padding: 0 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        p:not(.selected) {
            display: none;
        }
    }

    .select-dropdown {
        width: 500px;
        height: 0;
        background-color: white;
        color: black;
        padding: 0px 40px;
        padding-top: 20px;
        position: relative;
        top: -40px;
        border-radius: 30px;

        p {
            width: 460px;
            display: none;
            padding: 10px 0;
            margin: 20px 0;
        }

        p:not(:last-child) {
            border-bottom: 1px solid black;
        }

        .selected {
            display: none;
        }
    }
}

/* --- PAGINATION --- */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

    .stream {
        width: 469px;
        height: 120px;
        border: 3px solid $dark-gray;
        padding: 0;
        border-radius: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .circle-button {
        z-index: 2;
        @include font-dimension(600, 60px);
    }
    .circle-button:not(.selected) {
        background-color: transparent;
        color: $dark-gray;
    }
}

/* --- DIV ONLY CORNER BORDER */
.corner-border {
    @include corner-border();
    width: 850px;
    height: 850px;
    display: flex;
    justify-content: center;
    align-items: center;

    .element-display {
        background-color: $dark-blue;
        width: 695px;
        height: 695px;
        border-radius: 30px;
    }
}

/* --- WEBCAM --- */
.camera {
    z-index: 1;
    width: 1080px;
    height: 1920px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;

    video {
        z-index: 1;
        width: 1080px;
        height: 1920px;
        object-fit: cover;
    }

    .display {
        position: fixed;
        z-index: 10;
        display: contents;

        p {
            width: 442px;
            text-align: center;
            z-index: 11;
            @include normal-font();
            color: white;
            position: fixed;
            top: 100px;
        }

        .corner-border {
            position: fixed;
            z-index: 11;
            width: 700px;
            height: 700px;
            top: 400px;
        }

        .button-container {
            z-index: 11;
            position: fixed;
            top: 1500px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 70px;
        }
    }
}

/* --- LIST --- */
.list{
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

    .list-element{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;

        .circle-div{
            @include circle(90px);
            border: 3px solid $dark-gray;
            display: flex;
            justify-content: center;
            align-items: center;

            p{
                color: $orange;
                @include font-dimension(600,55px);
                padding:0;
                margin: 0;
            }
        }

        .text{
            @include font-dimension(500,50px)
        }
    }
}