@use "base" as *;
@use "components" as c;

:root {
    width: 1080px !important;
    height: 1920px !important;
}

html {
    touch-action: none;
}

body {
    // outline: 100px solid rgba(255, 0, 0, 0.345);
    width: 1080px !important;
    height: 1920px !important;
    margin: 0;
    color: white;
    font-family: $work-sans;
    overflow: hidden;
    background-color: $light-gray;
}

.flex-layout {
    // outline: 2px solid black;
    width: 1080px;
    height: 1780px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    gap: 70px;
    padding-top: 140px;
}

.page-1 {
    @extend .flex-layout;
    background-image: url("../assets/page-1-bkg.svg");
    text-align: center;

    h1 {
        @include xlarge-font();
        line-height: 140px;
    }

    p {
        width: 680px;
    }

    .pill-button {
        position: fixed;
        top: 1500px;

        span {
            margin-left: 7px;
        }
    }
}

.page-2 {
    @extend .flex-layout;
    background-image: url("../assets/page-2-bkg.svg");
    background-size: contain;
    background-position: bottom;
    color: $dark-gray;
    gap: 0;

    .logo {
        width: 350px;
        height: 150px;
        // border: 4px solid $dark-gray;
        border-radius: 30px;
        margin-bottom: 170px;
        display: flex;
        justify-content: space-evenly;
    }

    .list {
        margin-top: 80px;
    }

    button {
        position: fixed;
        top: 885px;

        span {
            margin-left: 7px;
        }
    }
}

.page-3 {
    @extend .flex-layout;
    color: $dark-gray;
    gap: 50px;

    .subtitle {
        width: 883px;
        text-align: center;
    }
}

.page-4 {
    @extend .flex-layout;
    color: $dark-gray;
    text-align: center;
    gap: 50px;

    .desc {
        width: 550px;
    }

    .modal {
        p {
            color: $dark-gray;
            width: 575px;
            @include font-dimension(400, 40px);
        }
    }
}

.page-5 {
    @extend .flex-layout;
    text-align: center;
    background-image: url("../assets/page-1-bkg.svg");

    .corner-border {
        margin-top: 80px;

        .barcode-scan {
            z-index: 2;
            position: fixed;
        }
    }

    .icon-button {
        color: $light-gray;
    }

    .stream {
        .line {
            background: $light-gray;
        }
        .circle-button:not(.selected) {
            border: 5px solid $light-gray;
            background-color: transparent;

            &.past {
                background: $light-gray;
                border: 5px solid $light-gray;
            }
        }
    }
}

.page-6 {
    @extend .flex-layout;
    // background-image: url("../assets/page-6-bkg.svg");
    background-size: contain;
    color: $dark-gray;
    text-align: center;

    .first-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 50px;
    }

    .second-header {
        .circle-image {
            // border: 2px solid black;
            @include circle(400px);
            overflow: hidden;
            margin-top: 150px;
            object-fit: contain;

            img {
                width: 900px;
                position: relative;
                top: -120px;
                left: -250px;
                aspect-ratio: 4/3;
            }
        }
        .photo-button {
            position: fixed;
            z-index: 3;
            top: 320px;
            left: 650px;

            img {
                width: 75px;
                aspect-ratio: 1/1;
            }
        }
        .next-button {
            position: fixed;
            top: 1500px;
            left: 455px;

            span {
                margin-left: 7px;
            }
        }
    }

    // #name {
    //     width: auto;
    //     max-width: 900px;
    //     white-space: nowrap;
    //     overflow: hidden;
    //     text-overflow: ellipsis;
    //     @include font-dimension(600, 72px);
    // }

    .information {
        margin-left: 100px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        row-gap: 100px;
        column-gap: 100px;
    }

    .form {
        width: 824px;
        height: 1050px;
    }

    .done-button {
        position: fixed;
        top: 1575px;
        z-index: 3;
    }
}

.page-7 {
    @extend .flex-layout;
    color: $dark-gray;
    text-align: center;
    padding: 0;
    height: 1920px;

    .help-modal {
        p {
            width: 535px;
            color: $dark-gray;
            @include font-dimension(400, 40px);
        }
    }

    .camera {
        z-index: 1;
        width: 1080px;
        height: 1920px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .display {
            position: fixed;
            z-index: 10;
            display: contents;

            p {
                width: 442px;
                text-align: center;
                z-index: 11;
                position: fixed;
                top: 227px;
            }

            .pagination{
                position: fixed;
                top: 445px;
                z-index: 2;

                .icon-button {
                    color: $light-gray;
                }

                .stream {
                    .line {
                        background: $light-gray;
                    }
                    .circle-button:not(.selected) {
                        border: 5px solid $light-gray;
                        background-color: transparent;

                        &.past {
                            background: $light-gray;
                            border: 5px solid $light-gray;
                        }
                    }
                }

                .back-button {
                    color: $light-gray;
                }
            }

            .corner-border {
                position: fixed;
                z-index: 11;
                width: 700px;
                height: 700px;
                top: 609px;
            }
        }
    }
}

.page-8 {
    @extend .flex-layout;
    text-align: center;
    background-image: url("../assets/page-1-bkg.svg");

    .done-button{
        @include circle(150px)
    }
    .pagination{
        margin-bottom: 50px;
        .line{
            background-color: $light-gray;
        }

        .icon-button{
            color: $light-blue;
        }

        .stream {
            .line {
                background: $light-gray;
            }
            .circle-button:not(.selected) {
                border: 5px solid $light-gray;
                background-color: transparent;

                &.past {
                    background: $light-gray;
                    border: 5px solid $light-gray;
                }
            }
        }
    }

    p {
        margin-top: 70px;
        width: 470px;
    }
    .square-element {
        width: 695px;
        height: 695px;
        overflow: hidden;

        #canvas {
            position: relative;
            width: 1920px;
            aspect-ratio: 4/3;
            top: -250px;
            left: -600px;
        }
    }
}

.page-9 {
    @extend .flex-layout;
    color: $dark-gray;
    text-align: center;

    .title {
        width: 518px;
    }

    .desc {
        width: 883px;
    }

    .blue-card {
        background-image: url("../assets/card-blue-2.svg");
        background-size: cover;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 200px;

        .name {
            @include font-dimension(700, 70px);
        }

        .room {
            @include medium-font();
        }

        .room-number {
            @include font-dimension(700, 160px);
        }
    }

    .next-button {
        position: fixed;
        z-index: 10;
        top: 1600px;

        span {
            margin-left: 7px;
        }
    }
}
.page-10 {
    @extend .flex-layout;
    height: 1920px;
    justify-content: center;
    align-items: center;
    padding: 0;
    text-align: center;
    background-image: url("../assets/page-10-bkg.svg");
}

.page-11 {
    @extend .flex-layout;
    background-image: url("../assets/page-11-bkg.svg");
    text-align: center;
    .desc {
        width: 600px;
    }
    .pill-button {
        position: fixed;
        top: 1500px;
        width: 440px;
    }
}

/* --- CONTAINERS --- */
.container {
    border: 2px solid $orange;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    font-family: $work-sans;
}

.portrait {
    width: 1080px;
    height: 1500px;
    border: 2px solid $blue;
}

.button-container {
    z-index: 11;
    position: fixed;
    top: 1500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 130px;
}
