@use 'base' as *;

body{
    width: 1080px;
    height: 1920px;
    margin: 0;
    color: white;
    font-family: $work-sans;
    overflow: hidden;

}

.flex-layout{
    border: 2px solid black;
    width: 1080px;
    height: 1920px;
    background-size: cover;
    background-repeat:no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 40px;
    padding: 150px 0;
}

.page-1{
    @extend .flex-layout;
    background-image: url('../assets/page-1-bkg.svg');
    text-align: center;
    
    h1{
        
        @include xlarge-font();
        line-height: 140px;
    }

    p{
        width: 680px;
    }

    .large-circle-button{
        position: fixed;
        top: 1700px;
    }
}

.page-2{
    @extend .flex-layout;
    background-image: url('../assets/page-2-bkg.svg');
    background-size: contain;
    background-position: bottom;
    color: $dark-gray;

    .logo{
        width: 350px;
        height: 150px;
        border: 4px solid $dark-gray;
        border-radius: 30px;
        margin-bottom: 170px;
    }

    button{
        position: fixed;
        top: 1380px;
    }
}

.page-3{
    @extend .flex-layout;
    color: $dark-gray;
    gap: 70px;

    .subtitle{
        width: 883px;
        text-align: center;
    }

    .blue-card{
        margin-top: 100px;
    }

}

.page-4{
    @extend .flex-layout;
    color: $dark-gray;
    text-align: center;
    gap: 70px;

    .desc{
        width: 550px;
    }

    .corner-border-black{
        margin-top: 80px;
    }

    button{
        position: fixed;
        top: 1800px;
    }

}

/* --- CONTAINERS --- */
.container{
    border: 2px solid $orange;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    font-family: $work-sans;
}

.portrait{
    width: 1080px;
    height: 1500px;
    border: 2px solid $blue;
}