@use "base" as *;

/* --- UTILITY --- */
.hidden {
    display: none !important;
}

.empty-div {
    width: 120px;
}

.empty-div-small {
    width: 70px;
}

.touch-overlay {
    width: 1080px;
    height: 1920px;
    background-color:transparent;
    position: fixed;
    z-index: 3;

    display: flex;
    justify-content: flex-end;
    align-items:center;

    .touch-icon-bkg{
        @include circle(400px);
        background-color: white;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-right: -200px;
        .icon-overlay{
            color: black;
            width: 100px;
            margin-left:50px ;
        }
    }
}
